.width-motors {
    width: 120px;
    
}
.width-parameters {
    width: 120px;
    
}

.width-visulaziation {
    width: 260px;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  100vh;
    flex-direction: column;
}
.aniamation3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}